/*
colors of all houses for reference:
Gryffindor: #740001, #AE0001, #D3A625, #EEBA30, #000000, #C0C0C0
Slytherin: #1A472A, #2A623D, #5D5D5D, #AAAAAA, #000000
Ravenclaw: #0E1A40, #222F5B, #5D5D5D, #946B2D, #000000
Hufflepuff: #FFF4B1, #FFED86, #FFDB00, #60605C, #000000
*/

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
